{% set source = source %}
{% extends '/'+source+'/detailbase.html' %}
{% block content %}
    <div class="container">
        <div class="row">

            <h2 class="col offset-l1"><img class="circle"
                                           src="{{ url_for('static',filename='img/avatar.jpg') }}">李盾</h2>
            <p class="col offset-l6">在读化工硕士，热爱编程</p>

        </div>
        <hr>
        <div class="row">
            <div class="col s10 offset-l1">
                <h1 id="title">集总模型软件</h1></div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2" style="text-align: center">
                <h4>所用技术：化工/Python/PHP/Linux</h4>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 sec">
                <div class="col s12 img-container">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/'+source +'/model7.png') }}">
                    <p class="blackp">根据某一集总的数学模型建立一套预测工艺产率的桌面软件</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 sec">
                <div class="col s12">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/'+source +'/model1.png') }}">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/'+source +'/model2.png') }}">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/'+source +'/model3.png') }}">
                    <p class="blackp">可以一键针对不同反应条件，做出相应的 2D/3D 趋势图</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 sec">
                <div class="col s12">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/'+source +'/model5.png') }}">
                    <p class="blackp">优化了算法，计算效率与初值的设定方式均有提高</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 sec">
                <div class="col s12">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/'+source +'/model8.png') }}">
                    <p class="blackp">在此基础上开发了适用于不同集总数量的切换功能</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 sec">
                <div class="col s12">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/'+source +'/model5.png') }}">
                    <p class="blackp">可针对不同要求，求出对应的最优条件</p>

                </div>
            </div>
        </div>

    </div>



{% endblock %}