{% set source = source %}
{% extends '/'+source+'/detailbase.html' %}
{% block content %}
    <div class="container">
        <div class="row">

            <h2 class="col offset-l1"><img class="circle"
                                           src="{{ url_for('static',filename='img/avatar.jpg') }}">Li Dun</h2>
            <p class="col offset-l6">Master of Chemical Engineering<br>Programming Enthusiastindex</p>

        </div>
        <hr>
        <div class="row">
            <div class="col s10 offset-l1">
                <h1 id="title">guijia.org</h1></div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2" style="text-align: center">
                <h4>Python/Web Crawler/flask/MySQL/Web</h4>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 sec">
                <div class="col s12">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/'+source +'/guijia1.png') }}">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/'+source +'/guijia2.png') }}">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/'+source +'/guijia3.png') }}">
                    <h2><a href="http://guijia.org" target="_blank">查看归家网</a></h2>
                    <p class="blackp">Guijia.org is a public welfare website based on face recognition</p>

                </div>
            </div>
        </div>


    </div>



{% endblock %}