{% set source = source %}
{% extends '/'+source+'/detailbase.html' %}
{% block content %}
    <div class="container">
        <div class="row">

            <h2 class="col offset-l1"><img class="circle"
                                           src="{{ url_for('static',filename='img/avatar.jpg') }}">李盾</h2>
            <p class="col offset-l8">在读化工硕士，热爱编程</p>

        </div><hr>
        <div class="row">
            <div class="col s10 offset-l1">
                <h1 id="title">公司抽奖系统</h1></div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2" style="text-align: center">
                <h4>所用技术：PHP/Linux</h4>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 sec">
                <div class="col s12">

                    <p class="blackp">承载百万次的用户抽奖活动</p>

                </div>
            </div>
        </div>
    </div>



{% endblock %}