{% set source = source %}
{% extends '/'+source+'/detailbase.html' %}
{% block content %}
    <div class="container">
        <div class="row">

            <h2 class="col offset-l1"><img class="circle"
                                           src="{{ url_for('static',filename='img/avatar.jpg') }}">李盾</h2>
            <p class="col offset-l8">在读化工硕士，热爱编程</p>

        </div><hr>
        <div class="row">
            <div class="col s10 offset-l1">
                <h1 id="title">集总模型软件</h1></div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2" style="text-align: center">
                <h4>所用技术：Python/Arduino/图像识别/串口通信/socketIO</h4>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 sec">
                <div class="col s12">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/{{ source }}/space1.jpg') }}">
                    <h2><a href="http://ecustmaker.com/face" target="_blank">查看DEMO</a></h2>
                    <p class="blackp">Python</p>
                    <p class="blackp">颜值测评————使用人脸识接口实现对颜值的评分</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 sec">
                <div class="col s12">
                    <video class="responsive-video fullWidth"
                           src="http://oc1is8h9w.bkt.clouddn.com/1490078922102.mp4">视频</video>
                    <p class="blackp">串口/Arduino/opencv</p>
                    <p class="blackp">使用图像识别与串口通信实现控制Arduino与舵机自动玩手机游戏</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 sec">
                <div class="col s12">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/{{ source }}/space1.jpg') }}">
                    <p class="blackp">socketIO/WEUI</p>
                    <p class="blackp">基于socketIO开发的一款在线随机聊天应用</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 sec">
                <div class="col s12">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/avatar.jpg') }}">
                    <p class="blackp">可针对不同要求，求出对应的最优条件</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 sec">
                <div class="col s12">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/avatar.jpg') }}">
                    <p class="blackp">在此基础上开发了适用于不同集总数量的切换功能</p>

                </div>
            </div>
        </div>
    </div>



{% endblock %}