{% set source = source %}
{% extends '/'+source+'/detailbase.html' %}
{% block content %}
    <div class="container">
        <div class="row">

            <h2 class="col offset-l1"><img class="circle"
                                           src="{{ url_for('static',filename='img/avatar.jpg') }}">Li Dun</h2>
            <p class="col offset-l6">Master of Chemical Engineering，Programming Lover</p>

        </div>
        <hr>
        <div class="row">
            <div class="col s10 offset-l1">
                <h1 id="title">ECUST Makerspace</h1></div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2" style="text-align: center">
                <h4>Python/Arduino/Sensors/Raspberry Pie/Serial Communication/socketIO</h4>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 sec">
                <div class="col s12">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/'+source +'/space2.png') }}">
                    <h2><a href="http://ecustmaker.com/face" target="_blank">To View the DEMO</a></h2>
                    <p class="blackp">Python</p>
                    <p class="blackp">Get face score by face detection APIs and algorithm</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 sec">
                <div class="col s12">
                    <video class="responsive-video" controls>
                        <source src="http://oc1is8h9w.bkt.clouddn.com/1490078922102.mp4" type="video/mp4">
                        video
                    </video>
                    <p class="blackp">Serial Communication/Arduino/opencv</p>
                    <p class="blackp">Control Arduino with the steering gear to automatically play mobile games by image recognition and serial communication</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l8 offset-l2 sec">
                <div class="col s12">
                    <img class="responsive-img fullWidth"
                         src="{{ url_for('static',filename='img/'+source +'/space1.jpg') }}">
                    <p class="blackp">socketIO/WEUI</p>
                    <p class="blackp">An online random chat application based on socketIO</p>

                </div>
            </div>
        </div>

    </div>



{% endblock %}